<div <div class="container-full">
<%= render 'layouts/header' %>
      <div class="row">
       
        <div class="col-lg-12 text-center v-center">
          
          <h1>Generic Template Login</h1>
          <p class="lead">Landing page for generic template</p>
          <br />
          
          <div class="col-lg-12">
            <%= form_for(:session, url: login_path) do |f| %>
             
                <%= f.label :email %><br />
                <%= f.email_field :email, class: "input-group input-group-lg col-sm-offset-4 col-sm-4" %><br />
              
              
                <%= f.label :password %>
                <%= link_to "(forgot password)", new_password_reset_path %><br />
                <%= f.password_field :password, class: "input-group input-group-lg col-sm-offset-4 col-sm-4" %><br />
            
            	  <%= f.label :remember_me do %>
                <%= f.check_box :remember_me %>
                <span>Remember me on this computer</span><br /><br />
                <% end %>
                <div class="center">  
                <%= f.submit "Login", class: "btn btn-lg btn-primary" %><br />
                <% end %>
                </div><br />
                  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
          </div>
        </div>
        
      </div> <!-- /row -->
  
  	  <div class="row">
       
        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
          <a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a>  <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-github"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
        </div>
      
      </div>
  
  	<br><br><br><br><br>

</div> <!-- /container full end-->

<div class="container">
  
  	<hr />
  
  	<div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Generic Template Infobox One</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Generic Template Infobox Two</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Generic Template Infobox Three</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
    </div>
  
	
</div>

