// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

html,body {
  height:100%;
}

h1 {
  font-family: 'Antic Slab', serif !important; 
  font-size:80px !important; 
  color:#fff !important; 
}

.lead {
	color:#fff;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color: #000;
  color:#fff; 
  overflow:hidden;
}

.container-full a {
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

.input-group {
  color: #000;        
}